#about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--myGrey);
    flex-direction: column;
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.swiper-slide {
    position: relative;
    color: #fff;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide-content {
    max-width: 90%;
    z-index: 2;
    margin: 7%;
    text-align: end;
}

.timeline-year {
    color: brown;
    font-size: 2em;
}

.timeline-title {
    font-size: 2em;
    color: crimson;
    margin: 0;
}

.timeline-text {
    font-size: 1.5em;
    color: black;
    margin: 0;
    font-size: 1em;
}

.swiper-pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    z-index: 1;
}

.swiper-pagination::before {
    content: "";
    position: absolute;
    left: -30px;
    height: 300%;
    width: 5px;
    background-color: var(--myRed);
}

.swiper-pagination-bullet {
    width: auto;
    /*opacity: 1;*/
    background: transparent;
    color: var(--myRed);
    margin: 10px 0 !important;
}

.swiper-button-next, .swiper-button-prev {
    background-size: 25px 25px;
    transition: 0.2s;
}

.swiper-button-prev {
    top: 20%;
    left: auto;
    right: 0%;
    transform: rotate(90deg) translate(0, 10px);
}

.swiper-button-next {
    top: auto;
    bottom: 20%;
    right: 0%;
    transform: rotate(90deg) translate(0, 10px);
}

.swiper-button-prev:hover {
    transform: rotate(90deg) translate(-3px, 10px);
}

.swiper-button-next:hover {
    transform: rotate(90deg) translate(3px, 10px);
}

@media screen and (min-width: 600px){
    .swiper-slide-content {
        margin: 10%;
    }
}
